perspective-beans/src/xsd/beans.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="urn:beans.perspective.meridor.org"
            xmlns:config="urn:config.perspective.meridor.org"
            targetNamespace="urn:beans.perspective.meridor.org"
            elementFormDefault="qualified">

    <xsd:import schemaLocation="config.xsd" namespace="urn:config.perspective.meridor.org"/>

    <xsd:simpleType name="uuid">
        <xsd:restriction base="xsd:string">
            <xsd:length value="36" fixed="true"/>
            <xsd:pattern
                    value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[8-9a-bA-B][0-9a-fA-F]{3}-[0-9a-fA-F]{12}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="uuidOrInteger">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:unsignedInt"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="checksum">
        <xsd:restriction base="xsd:string">
            <xsd:length value="32" fixed="true"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ipAddress">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="([a-f0-9]{1,4}:){7}[a-f0-9]{1,4}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:pattern
                            value="((25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\.){3}(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:complexType name="cidr">
        <xsd:attribute name="address" type="tns:ipAddress"/>
        <xsd:attribute name="prefixSize" type="xsd:unsignedInt"/>
    </xsd:complexType>

    <xsd:simpleType name="metadataKey">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="architecture"/>
            <xsd:enumeration value="author"/>
            <xsd:enumeration value="command"/>
            <xsd:enumeration value="id"/>
            <xsd:enumeration value="instance_id"/>
            <xsd:enumeration value="parent"/>
            <xsd:enumeration value="region"/>
            <xsd:enumeration value="operating_system"/>
            <xsd:enumeration value="size"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="metadata">
        <xsd:sequence>
            <xsd:element name="entry" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="key" type="tns:metadataKey"/>
                        <xsd:element name="value" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="availabilityZones">
        <xsd:sequence>
            <xsd:element name="availabilityZones" type="tns:availabilityZone" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="availabilityZone">
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="flavor">
        <xsd:all>
            <xsd:element name="id" type="tns:uuidOrInteger"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="ram" type="xsd:unsignedInt"/>
            <xsd:element name="vcpus" type="xsd:unsignedInt"/>
            <xsd:element name="rootDisk" type="xsd:unsignedInt"/>
            <xsd:element name="ephemeralDisk" type="xsd:unsignedInt"/>
            <xsd:element name="hasSwap" type="xsd:boolean"/>
            <xsd:element name="isPublic" type="xsd:boolean"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="flavors">
        <xsd:sequence>
            <xsd:element name="flavors" type="tns:flavor" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="imageState">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="deleting"/>
            <xsd:enumeration value="error"/>
            <xsd:enumeration value="queued"/>
            <xsd:enumeration value="saving"/>
            <xsd:enumeration value="saved"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="image">
        <xsd:all>
            <xsd:element name="id" type="tns:uuid"/>
            <xsd:element name="realId" type="xsd:string"/>
            <xsd:element name="timestamp" type="xsd:dateTime"/>
            <xsd:element name="created" type="xsd:dateTime"/>
            <xsd:element name="cloudId" type="xsd:string"/>
            <xsd:element name="cloudType" type="config:cloudType"/>
            <xsd:element name="projectId" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="state" type="tns:imageState"/>
            <xsd:element name="checksum" type="tns:checksum"/>
            <xsd:element name="errorReason" type="xsd:string"/>
            <xsd:element name="metadata" type="tns:metadata"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:element name="image" type="tns:image"/>

    <xsd:complexType name="quota">
        <xsd:attribute name="maxInstances" type="xsd:unsignedInt"/>
        <xsd:attribute name="maxVCPUs" type="xsd:unsignedInt"/>
        <xsd:attribute name="maxRAM" type="xsd:double"/>
        <xsd:attribute name="maxFloatingIPs" type="xsd:double"/>
        <xsd:attribute name="maxSecurityGroups" type="xsd:double"/>
    </xsd:complexType>

    <xsd:complexType name="subnets">
        <xsd:sequence>
            <xsd:element name="subnets" type="tns:ipAddress" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="protocolVersion">
        <xsd:restriction base="xsd:integer">
            <xsd:enumeration value="4"/>
            <xsd:enumeration value="6"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="subnet">
        <xsd:all>
            <xsd:element name="id" type="tns:uuid"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="cidr" type="tns:cidr"/>
            <xsd:element name="protocolVersion" type="tns:protocolVersion" default="4"/>
            <xsd:element name="gateway" type="tns:ipAddress"/>
            <xsd:element name="isDHCPEnabled" type="xsd:boolean"/>
            <xsd:element name="maxSecurityGroups" type="xsd:double"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="network">
        <xsd:all>
            <xsd:element name="id" type="tns:uuid"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="subnets" type="tns:subnets"/>
            <xsd:element name="state" type="xsd:string"/>
            <xsd:element name="isShared" type="xsd:boolean"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="networks">
        <xsd:sequence>
            <xsd:element name="networks" type="tns:network" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="fingerprint">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="([a-f0-9]{2}:){15}[a-f0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="keypair">
        <xsd:all>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="fingerprint" type="tns:fingerprint"/>
            <xsd:element name="publicKey" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="keypairs">
        <xsd:sequence>
            <xsd:element name="keypairs" type="tns:keypair" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="project">
        <xsd:all>
            <xsd:element name="id" type="tns:uuid"/>
            <xsd:element name="parentId" type="tns:uuid"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="cloudId" type="xsd:string"/>
            <xsd:element name="cloudType" type="config:cloudType"/>
            <xsd:element name="timestamp" type="xsd:dateTime"/>
            <xsd:element name="flavors" type="tns:flavors"/>
            <xsd:element name="networks" type="tns:networks"/>
            <xsd:element name="availabilityZones" type="tns:availabilityZones"/>
            <xsd:element name="keypairs" type="tns:keypairs"/>
            <xsd:element name="metadata" type="tns:metadata"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:element name="project" type="tns:project"/>

    <xsd:simpleType name="instanceState">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="deleting"/>
            <xsd:enumeration value="error"/>
            <xsd:enumeration value="hard_rebooting"/>
            <xsd:enumeration value="launched"/>
            <xsd:enumeration value="launching"/>
            <xsd:enumeration value="migrating"/>
            <xsd:enumeration value="paused"/>
            <xsd:enumeration value="pausing"/>
            <xsd:enumeration value="queued"/>
            <xsd:enumeration value="rebooting"/>
            <xsd:enumeration value="rebuilding"/>
            <xsd:enumeration value="resizing"/>
            <xsd:enumeration value="resuming"/>
            <xsd:enumeration value="shutoff"/>
            <xsd:enumeration value="shutting_down"/>
            <xsd:enumeration value="snapshotting"/>
            <xsd:enumeration value="suspending"/>
            <xsd:enumeration value="suspended"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="destinationName">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="undefined"/>
            <xsd:enumeration value="tasks"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="instance">
        <xsd:all>
            <xsd:element name="id" type="tns:uuid"/>
            <xsd:element name="realId" type="xsd:string"/>
            <xsd:element name="timestamp" type="xsd:dateTime"/>
            <xsd:element name="created" type="xsd:dateTime"/>
            <xsd:element name="cloudId" type="xsd:string"/>
            <xsd:element name="cloudType" type="config:cloudType"/>
            <xsd:element name="projectId" type="tns:uuid" minOccurs="1"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="flavor" type="tns:flavor"/>
            <xsd:element name="image" type="tns:image"/>
            <xsd:element name="keypair" type="tns:keypair"/>
            <xsd:element name="networks" type="tns:networks"/>
            <xsd:element name="state" type="tns:instanceState" minOccurs="1"/>
            <xsd:element name="errorReason" type="xsd:string"/>
            <xsd:element name="isLocked" type="xsd:boolean"/>
            <xsd:element name="availabilityZone" type="tns:availabilityZone"/>
            <xsd:element name="metadata" type="tns:metadata"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:element name="instance" type="tns:instance"/>

    <xsd:complexType name="user">
        <xsd:attribute name="login" type="xsd:string"/>
        <xsd:attribute name="token" type="xsd:string"/>
    </xsd:complexType>

</xsd:schema>